

/* index page */
#input_text {
    width: 250px;
    height: 25px;
    padding-left: 5px;
    margin-top: 20px;
}
#display_items {
    display: grid;
    grid-template-rows: 70px auto ;
}
#display_items > div:nth-child(1) {
    text-align: center;
}
#display_items > div:nth-child(2) {
    padding: 20px;
    padding-left:40px;
}
#recipe_search_list {
    z-index: 1;
    position: relative;
    width: 260px;
    border: 1px solid #eaeaea;  
    margin:auto;
    background-color:white;
    visibility: hidden;
    height:200px;
    overflow-y: scroll;
    
}
#recipe_search_list::-webkit-scrollbar {
    display: none;
}
#recipe_search_list > div {
    padding-top: 5px;
    padding-bottom: 5px;
}
#recipe_search_list > div:hover {
    background-color:#eaeaea;
}
#searchedRecipe > img {
    width:30%;
    border-radius:10px;
}
#searchedRecipe > h2 {
    margin-top:20px;
    margin-bottom:20px;
}
#searchedRecipe > p {
    margin-top:20px;
    margin-bottom:20px;
}